.container {
  width: 600px;
  min-height: 250px;
  background-color: rgb(243, 241, 241);
  margin: auto;
}
header {
  text-align: center;
  background-color: rgb(54, 81, 198);
  padding: 10px 20px;
  font-family: Arial;
  color: white;
  margin: auto;
}
.form {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.form input{
  width: 40%;
  padding: 5px 15px;
}
.border-red{
  border: 2px solid rgb(190, 5, 5);
}
.form button{
  padding: 5px 15px;
  width: 10%;
  background-color: rgb(54, 81, 198);
}
li{
  list-style: none;
}
