.btns{
padding: 0px 20px;
}
h1{
  font-size: 30px;
}
span{
  color :rgb(255, 122, 51)
}
button{
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(229, 225, 225);
  transition: 0.6s;
}
button:hover{
  background-color: gray;
  transform: scale(1.1);
  color: white;
}

